@use 'variaveis';
@use 'hero';
@use 'shows';
@use 'elenco-yj';
@use 'footer';

@font-face {
    font-family: Roboto;
    src: url(../../assets/fonts/Roboto-Regular.ttf)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    background-color: variaveis.$corDeFundo;
}

@mixin text($fontSize: 16px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variaveis.$corTextoPrincipal;
}

@mixin title($fontSize: 40px) {
    @include text($fontSize);
    color: variaveis.$corTextoSecundario;
}

.text--big {
    @include text(18px);

    @media (max-width: 768px) {
        padding: 10%;
    }
}

.text {
    @include text;
}

.text--small {
    @include text(12px);
}

.title--big {
    @include title(44px);
}

.title {
    @include title;
}

.title--small {
    @include title(28px);
}

.link-text {
    @include text(18px);
    color: variaveis.$corTextoSecundario;
    text-decoration: underline;
}